<%= form_with(model: amigo) do |form| %>
  <% if amigo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(amigo.errors.count, "error") %> prohibited this amigo from being saved:</h2>

      <ul>
        <% amigo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :nombre, placeholder:"Nombre", class:"form-control" %>
  </div> <br/>

  <div class="field form-group">
    <%= form.text_field :apellido, placeholder:"Apellido", class:"form-control" %>
  </div> <br/>

  <div class="field form-group">
    <%= form.text_field :email, placeholder:"Email", class:"form-control" %>
  </div> <br/>

  <div class="field form-group">
    <%= form.text_field :telefono, placeholder:"Teléfono", class:"form-control" %>
  </div> <br/>

  <div class="field form-group">
    <%= form.text_field :twitter, placeholder:"Twitter", class:"form-control" %>
  </div> <br/>

  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
